/* CSS Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
}

main {
    width: 100%;
    height: 100%;
}

/*Navigation Section*/
nav {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 91px;
    padding-block: 1rem;
}

nav .left {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

nav .left .logo {
    width: 112px;
}

nav .left menu {
    display: flex;
    gap: 25px;
}

nav .left menu a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

nav .right {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

nav .right .me {
    padding: 0.5rem;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 50%;
}

nav .right .nav-item {
    padding-left: 1.2rem;
}

nav .right .nav-item i {
    font-size: 16px;
    font-weight: 200;
}

/*Hero Section*/
.hero {
    width: 100%;
    height: calc(60vh - 54px);
    background-image: url('./assets/hero_lg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
}

.hero .content {
    width: 100%;
    max-width: 540px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 4rem;
    left: 5.8rem;
}

.hero .content h1 {
    font-weight: 500;
    font-size: 2.5rem;
}

.hero .content .learn-more-btn {
    background-color: #005CA5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    width: 115px;
}

/*Banner Section*/
.banner1 {
    background-image: url('./assets/banner1_lg.webp');
}

.banner2 {
    background-image: url('./assets/banner2_lg.webp');
}


.banner {
    width: 90%;
    height: calc(60vh - 54px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    transform: translate(5.5%);
    margin-block: 2rem;
}


.banner .content {
    width: 100%;
    max-width: 540px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 4rem;
    color: white;
}

.banner1 .content {
    left: 5.8rem;
}

.banner2 .content {
    right: 5.8rem;
}

.banner .content h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

.banner .content .action-btn {
    background-color: #005CA5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
}

.banner1 .content .pc-ready-btn {
    width: 200px;
}

.banner2 .content .learn-more-btn {
    width: 115px;
}

/*Products Section*/
.products-series {
    width: 90%;
    transform: translate(5.5%);
    margin-block: 2rem;

    display: flex;
    justify-content: space-between;
}

.series1 {
    height: 55vh;
}

.series2 {
    height: 70vh;
}

.products-series .card {
    background-color: white;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px #61616133;
}

.products-series .card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.products-series .card .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    flex-grow: 1;
}

.products-series .card .action-btn {
    background-color: #005CA5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    width: 115px;
}

.products-series .card .content .shop-xbox-x-btn,
.products-series .card .content .shop-xbox-s-btn,
.products-series .card .content .explore-ai-btn {
    width: 200px;
    white-space: nowrap;
}

.products-series .card .content .btn {
    width: 60px;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    padding-block: 0.2rem;
    border: none;
    visibility: hidden;
}

.series2 .card .content .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-grow: 1;
}

.series2 .card .text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-grow: 1;
}

.products-series .card .content .new-btn {
    visibility: visible;
    background-color: #FFB900;
}

/* .products-series .card .content .new-btn {
    width: 60px;
    background-color: #FFB900;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    padding-block: 0.2rem;
    border: none;
} */

.products-series .card .text-content h2 {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/*Footer Section*/
footer {
    background-color: #F2F2F2;
    height: 50vh;
    width: 100%;
    color: #616161;

    padding-block: 1rem;
    padding-inline: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

footer li {
    list-style: none;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}